<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('boilerplate', {title: 'home'}) %>
    <link rel="stylesheet" href="./css/home.css" />
  </head>
  <body>
    <nav class="navbar bg-dark fixed-top" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand active" href="/">Private Club</a>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/messages"
              >Create new Message</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Join VIP Lounge</a>
          </li>
          <li class="nav-item">
            <form action="/logout?_method=DELETE" method="POST">
              <button class="nav-link" type="submit">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
